<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<form action="#" method="post" th:action="@{/addBook}" th:object="${book}">
    <table border="1" class="table table-dark">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Year</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{isbn}"/>
            </td>
            <td>
                <input type="text" th:field="*{title}"/>
            </td>
            <td>
                <input type="text" th:field="*{author}"/>
            </td>
            <td>
                <input type="text" th:field="*{publisher}"/>
            </td>
            <td>
                <input type="number" th:field="*{year}"/>
            </td>
            <td>
                <input type="text" th:field="*{description}"/>
            </td>
        </tr>
        <tr>
            <th>
                <input type="submit" value="Add"/>
            </th>
        </tr>
    </table>

</form>
<form method="get" th:action="@{/}">
    <input type="submit" value="Back">
</form>

</body>
</html>