<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Exception</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<table border="1" class="table table-dark">
    <tr>
        <th>Something went wrong!</th>
    </tr>
    <tr>
        <td th:if="${exception} != null" th:text="${exception}"></td>
    </tr>
</table>

<form method="get" th:action="@{/}">
    <input type="submit" value="Home">
</form>
</body>
</html>